@using eBookStore.Services.ViewModels.AuthorViewModels;
@model AuthorCreateModel
@{
    ViewData["Title"] = "Create";
}

<form method="post" asp-controller="Author" asp-action="Create">
    <br />
    <div class="container border p-3">
        <h1 class="text-white text-center">Create User</h1>
        <hr />
        <div class="row">
             <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Email</label>
            </div>
            <div class="col-10 pb-3">
                <input class="form-control" asp-for="Email" type="email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">FirstName</label>
            </div>
            <div class="col-10 pb-3">
                <input class="form-control" asp-for="FirstName" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">LastName</label>
            </div>
            <div class="col-10 pb-3">
                <input class="form-control" asp-for="LastName" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
             <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Phone Number</label>
            </div>
            <div class="col-10 pb-3">
                <input class="form-control" asp-for="PhoneNumber" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
             <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Address</label>
            </div>
            <div class="col-10 pb-3">
                <input class="form-control" asp-for="Address" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

             <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">City</label>
            </div>
            <div class="col-10 pb-3">
                <input class="form-control" asp-for="City" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
             <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">State</label>
            </div>
            <div class="col-10 pb-3">
                <input class="form-control" asp-for="State" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
             <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Zip</label>
                
            </div>
            <div class="col-10 pb-3">
                <input class="form-control" asp-for="Zip" />
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>
            <div class="col-5 offset-2">
                <a class="btn-primary btn form-control" asp-controller="Author" asp-action="Index">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Create" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>