@using eBookStore.Services.ViewModels.BookModels;
@using eBookStore.Services.ViewModels.BookAuthorModels;
@model BookCreateModel
@{
    ViewData["Title"] = "Create";

}

<div class="row">
    <div class="col-md-9">
        <form method="post" asp-controller="Book" asp-action="Create">
            <br />
            <div class="container border p-3">
                <h1 class="text-white text-center">Create New Book</h1>
                <hr />
                <div class="row">
                    <div class="col-2">
                        <label class="control-label pt-2" style="font-size:20px;">Title</label>
                    </div>
                    <div class="col-10 pb-3">

                        <input class="form-control" asp-for="Title" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="col-2">
                        <label class="control-label pt-2" style="font-size:20px;">Type</label>
                    </div>
                    <div class="col-10 pb-3">

                        <input class="form-control" asp-for="Type"/>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>

                    <div class="col-2">
                        <label class="control-label pt-2" style="font-size:20px;">Price</label>
                    </div>
                    <div class="col-10 pb-3">

                        <input class="form-control" asp-for="Price" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="col-2">
                        <label class="control-label pt-2" style="font-size:20px;">Advance</label>
                    </div>
                    <div class="col-10 pb-3">

                        <input class="form-control" asp-for="Advance" />
                        <span asp-validation-for="Advance" class="text-danger"></span>
                    </div>
                    <div class="col-2">
                        <label class="control-label pt-2" style="font-size:20px;">Royalty</label>
                    </div>
                    <div class="col-10 pb-3">

                        <input class="form-control" asp-for="Royalty" />
                        <span asp-validation-for="Royalty" class="text-danger"></span>
                    </div>

                    <div class="col-2">
                        <label class="control-label pt-2" style="font-size:20px;">Published Date</label>
                    </div>
                    <div class="col-10 pb-3">

                        <input class="form-control" type="date" asp-for="PublishedDate"/>
                        <span asp-validation-for="PublishedDate" class="text-danger"></span>
                    </div>

                    <div class="col-2">
                        <label class="control-label pt-2" style="font-size:20px;">Notes</label>
                    </div>
                    <div class="col-10 pb-3">

                        <input class="form-control" asp-for="Notes"/>
                        <span asp-validation-for="Notes" class="text-danger"></span>
                    </div>
                    <div class="col-2">
                        <label class="control-label pt-2" style="font-size:20px;">Publisher</label>
                    </div>
                    <div class="col-10 pb-3">
                        <select asp-for="PublisherId" class="form-control" asp-items="ViewBag.PublisherId"></select>
                    </div>

                    <div class="col-5 offset-2">
                        <a class="btn-primary btn form-control" asp-controller="Book" asp-action="Index">Back to
                            List</a>
                    </div>
                    <div class="col-5">
                        <input type="submit" value="Create" class="btn btn-success form-control" />
                    </div>
                </div>
            </div>
        </form>

    </div>

</div>
